{% extends 'base.html' %}
{% block body %}
    <div class="p-6 w-[800px] mx-auto">
        <h1 class="text-3xl tracking-tight font-light" id="chat-header">Welcome to E.S.I.B.A</h1>
        <div id="chat-log" class="mt-4 w-full relative p-6 overflow-y-auto h-[30rem] bg-gradient-to-b from-gray-200 to-gray-100 border border-gray-300 rounded-lg"></div>
        <div class="mt-4 flex items-center">
            <input
                id="chat-message-input"
                class="py-2 outline-none bg-gray-100 border border-gray-300 text-gray-900 text-sm focus:border-blue-500 rounded-l-md flex-1"
                type="text"
                placeholder="Write your message here."
            />
            <button
                id="chat-message-submit"
                class="py-2 px-4 ml-2 border border-transparent text-sm font-medium rounded-r-md text-white bg-blue-800 hover:bg-blue-900 transition duration-300"
                type="submit"
            >
                Send
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var wss_protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
    var chatSocket = new WebSocket(
        wss_protocol + window.location.host + "/ws/chat/"
    );
    var messages = [];

    chatSocket.onopen = function (e) {
        document.querySelector("#chat-header").innerHTML = "Welcome to E.S.I.B.A";
    };

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data["text"];
        messages.push(message);

        var str = '<ul class="space-y-2">';
        messages.forEach(function (msg) {
            str += `<li class="flex ${msg.source === "bot" ? "justify-start" : "justify-end"}">
                <div class="relative max-w-xl px-4 py-2 rounded-lg shadow-md
                    ${msg.source === "bot" ? "text-gray-700 bg-white border border-gray-200" : "bg-blue-600 text-white"}">
                    <span class="block font-normal">${msg.msg}</span>
                </div>
            </li>`;
        });
        str += "</ul>";
        document.querySelector("#chat-log").innerHTML = str;
    };

    chatSocket.onclose = function (e) {
        alert("Socket closed unexpectedly, please reload the page.");
    };

    document.querySelector("#chat-message-input").focus();
    document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector("#chat-message-submit").click();
        }
    };

    document.querySelector("#chat-message-submit").onclick = function (e) {
        var messageInputDom = document.querySelector("#chat-message-input");
        var message = messageInputDom.value;
        chatSocket.send(
            JSON.stringify({
                text: message,
            })
        );

        messageInputDom.value = "";
    };
</script>
{% endblock %}